{%extends "base.html"%}

{%block content%}
<br><br><br>
<div class="container" style="background-image: url(../static/white77.jpeg);background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Post a Blog</h3>
                <form method="post">
                    {{post_form.hidden_tag()}}
                    <br>
                    {{post_form.title.label}} {{post_form.title(class = "form-control")}}
                    <br>
                    {{post_form.post.label}} <br>{{post_form.post(id = "summernote")}}
                    <br>
                    <br>
                    {{post_form.submit(class = "btn btn-success")}}
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

{%endblock%}